html {
  height: 100%;
  width: 100%;
  background-image: url("https://i.pinimg.com/564x/bf/49/78/bf4978ff49dabcde6e26db2996bcb0bf.jpg");
}

body {
  color: #66524E;
}

/* redirects */
.links {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
text-align: center;
z-index: 999;
position: relative;
width: 100%;
background-color: #968380;
border-radius: 10px;
}

li {
float: left;
margin: 0;
  
}

li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
background-color: white;
}

/* title of page */
.title {
  text-align: center;
  z-index: 999;
  position: relative;
  width: 20%;
  margin: 20px auto;
  padding: 20px;
  background-color: lightgray;
  border-radius: 25px;
}


/* making the images all the same size */
img {
  width: 450px;
  height: 425px;
  border-radius: 25px;
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* makes changes to how summary is presented */
.event-box{
  position: relative;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: lightgray;
  border-radius: 25px;
  line-height: 2;   
}



/* creates spaces in between the words in summary */
p{
    word-spacing: 1px;
}

/* makes sure that webpage will properly adapt to various screend difference such as on a tablet or smartphone */
@media only screen and (max-width: 414px ){
    .summary{
        visibility: visible;
    }

}