html {
    height: 100%;
    width: 100%;
    background-image: url("https://i.pinimg.com/564x/bf/49/78/bf4978ff49dabcde6e26db2996bcb0bf.jpg");
  }
  
  body {
    color: #66524E;
  }
  
  /* redirects */
  .links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  z-index: 999;
  position: relative;
  width: 100%;
  background-color: #968380;
  border-radius: 10px;
  }
  
  li {
  float: left;
  margin: 0;
    
  }
  
  li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
  background-color: white;
  }
  
  /* title of page */
  .title {
    text-align: center;
    z-index: 999;
    position: relative;
    width: 20%;
    margin: 20px auto;
    padding: 20px;
    background-color: lightgray;
    border-radius: 25px;
  }

  .container
  {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        display: flex;
        justify-content: center;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #66524E;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
  }